{
	auto_https off
}

:80 {
	@bystrek host bystrek.dev
	@api host api.bystrek.dev

	handle @bystrek {
		reverse_proxy ui:3000
	}
	handle @api {
		reverse_proxy api:3000
	}
	handle {
		respond 404
	}
}
