# Compiled output
/dist
/tmp
/.angular/cache

# Node
node_modules
npm-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db

# Playwright
/test-results
/playwright-report
/blob-report
/playwright/.cache
